<Div style="margin:0px; padding: 0px; margin-left: 3%; margin-right: 3%;">
<div style="background-color:#DC392D; height: 10px;margin: 0px;padding: 0px;"></div>
<div style="background-color:#2C3E50; height: 100px;margin: 0px;padding: 0px;">
<span style="color: white; line-height: 100px;font-family: fantasy;font-size: 50px;">Electricity CRM</span>
<span *ngIf="securityService.securityModel.access_Token" style="color: blue; text-decoration: underline; 
font-weight: bold;float: right;margin: 20px;cursor:pointer;" (click)="Logout()">Logout</span>
</div>
<router-outlet></router-outlet>
<div style="background-color:#2C3E50; height: 20px;margin: 0px;padding: 0px;">
<span style="color: white;line-height: 20px;;margin-left: 40%;">© 2023 Electricity Department XYZ</span>
</div>
</Div>
<app-spinner></app-spinner>